<p id="notice"><%= notice %></p>
<% @posts.each do |post| %>
  <div class="box">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong><%= link_to post.title, post %></strong> <small><%= post.user.email %></small> <small>created <%= time_ago_in_words(post.created_at) %> ago</small>
            <br>
            <%= post.content %>
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
            <a class="level-item">
              <span class="icon is-small"><i class="fa fa-reply"></i></span>
            </a>
            <a class="level-item">
              <span class="icon is-small"><i class="fa fa-retweet"></i></span>
            </a>
            <a class="level-item">
              <span class="icon is-small"><i class="fa fa-heart"></i></span>
            </a>
          </div>
        </nav>

        <div class="media-content">
          <div class="content">
            <p>
              <strong>User Name -- Time </strong>
              <br>
              <% post.comments.each do |comment| %>
                <%= render 'comments/show', comment: comment %>
              <% end %>
              <br>
              <small><a>Like</a> · <a>Reply</a> · 3 hrs</small>
            </p>
          </div>
         </div>
    </article>
  </div>
<% end %>

<%= link_to 'New Post', new_post_path %>